<div class="dashboard" [ngClass]="{'bubble': bubbleDisplay}">
    <div *ngFor="let analysis of newspaper.analyses, let i = index" [ngClass]="classes[i]">
        <ana-bubble [title]=" analysis.title" [info]="analysis.description" (click)="openAnalysis(i)" [corner]="classes[i].includes('corner')" [selected]="openedAnalysis === i">
        </ana-bubble>
    </div>
    <div class="general">
        <ana-bubble *ngIf="bubbleDisplay" class="principal" [title]="newspaper.name" [info]="newspaper.description" [principal]="true" [bubble]="true"></ana-bubble>
    </div>
</div>