<div class="dashboard">
    <div class="corner-info left-corner top-corner">
        <ana-bubble [title]="'Info c1'" [info]="'info 1'" [corner]="true"></ana-bubble>
    </div>
    <div class="top-info">
        <ana-bubble [title]="'Info top'" [info]="'info 2'"></ana-bubble>
    </div>
    <div class="corner-info right-corner top-corner">
        <ana-bubble [title]="'Info c2'" [info]="'info 3'" [corner]="true"></ana-bubble>
    </div>
    <div class="left-info">
        <ana-bubble [title]="'Info left'" [info]="'info 4'"></ana-bubble>
    </div>
    <div class="general">
        <ana-bubble class="principal" [title]="newspaperName" [info]="'blablablabla'" [principal]="true"></ana-bubble>
    </div>
    <div class="right-info">
        <ana-bubble [title]="'Info right'" [info]="'info 5'"></ana-bubble>
    </div>
    <div class="corner-info left-corner bottom-corner">
        <ana-bubble [title]="'Info c3'" [info]="'info 6'" [corner]="true"></ana-bubble>
    </div>
    <div class="bottom-info">
        <ana-bubble [title]="'Info bottom'" [info]="'info 7'"></ana-bubble>
    </div>
    <div class="corner-info right-corner bottom-corner">
        <ana-bubble [title]="'Info c4'" [info]="'info 8'" [corner]="true"></ana-bubble>
    </div>
</div>