.dashboard {
    --top-margin: 70px;
    --navbar-height: 90px;

    display: grid;
    grid-gap: 5px;
    row-gap: 5px;
    max-height: calc(100vh - var(--top-margin) - var(--navbar-height) - 5px);
    overflow: auto;

    @media screen and (min-width: 768px) {
        margin-top: var(--top-margin);
        
        &.bubble {
            align-items: center;
            grid-template-columns: 2fr 3fr 2fr;
            grid-template-rows: 2fr 3fr 2fr;
            padding: 50px;
            margin-top: 0;
    
            .general {
                grid-column: 2;
                grid-row: 2;
                justify-self: center;
            }
        
            .top, .bottom {
                display: grid;
                grid-auto-flow: column;
                grid-gap: 5px;
            }
        
            .left, .right {
                display: grid;
                row-gap: 5px;
            }
        
            .left {
                margin-right: 16px;
                grid-column: 1;
            }
        
            .right {
                margin-left: 16px;
                grid-column: 3;
            }
    
            .corner1 {
                justify-self: end;
                align-self: flex-end;
            }
    
            .corner2 {
                grid-column: 3;
                justify-self: start;
                align-self: flex-end;
            }
    
            .corner3 {
                justify-self: end;
                align-self: flex-start;
            }
    
            .corner4 {
                grid-column: 3;
                justify-self: start;
                align-self: flex-start;
            }
        }
    }


    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);

        .general {
            grid-column: 1 / -1;
        }
    }
}