.card-container {
    background-color: #eee;
    border-radius: 10px;
    
    .card-header, .card-content {
        padding: 20px;
    }

    .card-header {
        border-bottom: 1px solid white;
    }

    &.bubble {
        border-radius: 100px;
        text-align: center;
    }
}
