.page-container {
    display: grid;
    grid-auto-flow: column;

    @media screen and (max-width: 768px) {
        margin-top: 0;
    }

    &.display-analysis {
        grid-template-columns: 3fr 1fr;

        .dashboard-container {
            justify-content: unset;
        }
    }

    @media screen and (max-width: 768px) {
        display: block;
        
        &.display-analysis {
            .dashboard-container {
                display: none;
            }
        }
    }

    .dashboard-container {
        display: grid;
        justify-content: center;
    }

    .no-data-message {
        font-size: 24px;
        font-weight: 600;
        justify-self: center;
        padding: 50px;
    }
}

.back-button {
    display: flex;
    align-items: center;
    padding: 10px;

    .back-label {
        font-weight: 500;
    }
}