.search-bar-component {
    padding: 0 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;

    .search-form {
        padding-top: 10px;
        height: 60px;
        width: 100%;

        &.small {
            height: unset;
            padding: 0;

            ::placeholder {
                font-size: 14px;
            }

            input.mat-input-element {
                font-size: 14px;
            }

            mat-form-field.mat-form-field {
                font-size: 14px;
                height: 10px;
            }
        }
    }

    .search-icon {
        color: var(--tertiary);
        margin: 18.825px 10px 0 0;
    }

    mat-label {
        color: var(--tertiary);
        padding-left: 20px;
    }

    input {
        font-size: 16px;
        padding-left: 16px;
    }

    textarea:focus, input:focus {
        outline: none;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #a5abb1;
        font-size: 16px;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #a5abb1;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #a5abb1;
      }
}