<div class="search-bar-component">
    <mat-icon *ngIf="!navbarDisplay" class="search-icon" matPrefix>search</mat-icon>
    <mat-form-field [formGroup]="searchForm" class="search-form" [ngClass]="{'small': navbarDisplay}" [appearance]="navbarDisplay ? 'fill' : 'standard'" [floatLabel]="'always'">
        <mat-label *ngIf="!navbarDisplay">Search for newspapers</mat-label>
        <input formControlName="searchValue" type="text" #searchInput [placeholder]='inputPlaceholder' matInput [matAutocomplete]="auto">
        <mat-autocomplete id="options-panel" #auto="matAutocomplete">
            <mat-option *ngIf="loading">
                <ngx-spinner class="spinner" [showSpinner]="loading" [fullScreen]="false" type="ball-beat" color="#012729" bdColor="none" size="small"></ngx-spinner>
            </mat-option>
            <mat-option style="color: white; font-weight: 400;" *ngIf="!loading && !getFilteredOptions()?.length">No results</mat-option>
            <ng-container *ngIf="searchValue">
                <mat-option class="news-option" style="color: white; font-weight: 300;" *ngFor="let option of getFilteredOptions()" [value]="option.id" (click)="navigateToNewspaper(option.id)">
                    {{ option.title }}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
</div>