.content {
    display: grid;
    row-gap: 75px;

    justify-content: center;

    .description {
        font-weight: 500;
        font-size: 20px;
        margin-top: 50px;
    }

    .indication {
        text-align: center;
    }

    .snoop {
        color: var(--tertiary);
        font-weight: 700;
        font-size: 22px;
    }
}