.content {
    display: grid;
    row-gap: 75px;

    justify-content: center;

    .description {
        font-weight: 500;
        font-size: 20px;
        margin-top: 50px;
    }

    .indication {
        text-align: center;
    }

    .snoop {
        color: var(--tertiary);
        font-weight: 700;
        font-size: 22px;
    }

    @media screen and (max-width: 768px) {
        display: block;
        
        .description {
            font-size: 16px;
        }

        .indication {
            font-size: 13px;
        }
    }
}