<div class="top-menu" role="banner">
    <div class="left-items menu-items">
        <mat-icon id="menuButton">menu</mat-icon>
    </div>
    <h1 (click)="navigateToHomePage()">Snoop</h1>
    <div class="right-items menu-items">
        <div class="languages">
            <span *ngFor="let lang of languages" class="lang-item" [ngClass]="{ 'selected': selectedLanguage === lang}" (click)="changeLanguage(lang)">
                {{ lang }}
            </span>
        </div>
        <ana-search-bar-component *ngIf="searchOpened" [small]="true"></ana-search-bar-component>
        <!-- <mat-icon id='searchButton' *ngIf="!searchOpened" (click)="toggleSearch()">search</mat-icon> -->
    </div>
</div>