<div class="top-menu" [ngClass]="{ 'search-display': displaySearch }" role="banner">
    <div class="left-items menu-items">
        <span id="menuButton">
            <mat-icon (click)="hasToggledMenu.emit()">{{ displayMenuToggle ? 'menu' : 'menu_open'}}</mat-icon>
        </span>
    </div>
    <div class="center-items" [ngClass]="{ 'search-display': displaySearch }">
        <img class="logo" *ngIf="!displaySearch" src="assets/logo.png" alt="Snoop" (click)="navigateToHomePage()">
        <snoop-search-bar-component *ngIf="displaySearch" [loading]="false" [options]="newspaperList" [navbarDisplay]="true"></snoop-search-bar-component>
    </div>
    <div class="right-items menu-items">
        <div class="languages">
            <span *ngFor="let lang of languages" class="lang-item" [ngClass]="{ 'selected': selectedLanguage === lang }" (click)="changeLanguage(lang)">
                {{ lang }}
            </span>
        </div>
    </div>
</div>