.top-menu {
    align-items: center;
    background: linear-gradient(var(--background), 30%, var(--primary));
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 800;
    height: 70px;
    padding: 10px 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    .logo {
        cursor: pointer;
        font-size: 32px;
        font-weight: 500;
        margin: 0;
        justify-self: center;
        width: 160px;
    }

    #menuButton {
        cursor: pointer;
    }

    #searchButton {
        margin-left: 20px;
        cursor: pointer;
    }

    .right-items {
        display: flex;
        justify-self: flex-end;

        .languages {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            grid-gap: 6px;

            .lang-item {
                cursor: pointer;
                font-weight: 500;

                &.selected {
                    cursor: default;
                    font-weight: 800;
                }
            }
        }
    }
  }