.side-menu {
    background-color: var(--blue-sherpa);
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;

    .menu-content {
        color: white;
        margin-top: 80px;

        .menu-item {
            padding: 0 10px;
            font-weight: 600;

            &.selected {
                font-weight: 800;
            }
        }

        .menu-item-title {
            font-size: 18px;
            padding: 20px;
            border-bottom: 1px solid #6c7a89;
        }

        .menu-item:hover {
            cursor: pointer;
        }
    }
}