.side-nav-container {
    height: 100%;
    
    .side-nav {
        background-color: var(--primary);
    }

    .menu {
        padding: 0 20px;
        position: relative;
        top: 90px;
    
        .menu-item:hover {
            cursor: pointer;
        }
    }
}