$primary: rgba(2, 29, 37, 1);//#0fb9b1;
$secondary: coral;// #F7AD5E;
$tertiary: #0eb9b1;
$background: rgb(1, 39, 51);
$blue-sherpa-light: rgba(1, 50, 67, 0.6);
$text-light: white;
$text-dark: #333;

:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --tertiary: #{$tertiary};
    --background: #{$background};
    --text-light: #{$text-light};
    --text-dark: #{$text-dark};
    --blue-sherpa-light: #{$blue-sherpa-light};
}