$primary: rgb(0, 19, 20);
$secondary: coral;
$tertiary: #0eb9b1;
$background: rgb(1, 39, 41);
$blue-sherpa-light: rgba(1, 50, 67, 0.6);
$text-light: white;
$text-dark: #333;

:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --tertiary: #{$tertiary};
    --background: #{$background};
    --text-light: #{$text-light};
    --text-dark: #{$text-dark};
    --blue-sherpa-light: #{$blue-sherpa-light};
}

// Color tries 
/* 
 primary rgba(2, 29, 37, 1) with background rgb(1, 39, 51)
 blue sherpa rgb(1, 50, 67)
 light coral #F7AD5E
*/