.item {
    border-top: thin solid var(--secondary);
    padding: 5px 40px;
    background-color: linear-gradient(var(--primary), var(--background), var(--primary));
    transition: all .15s ease-in-out;

    &.bubble {
        padding: 15px 40px;
        border-color: var(--tertiary);

        .bubble-content .info .stat{
            color: var(--tertiary);
        }

    }
    
    &.selected {
        border-color: var(--secondary);

        .bubble-content .info .stat{
            color: var(--secondary);
        }
    }
    

    .bubble-content {
        display: grid;
        justify-items: center;
        
        .info {
            font-size: 20px;
            font-weight: 600;

            .stat {
                color: var(--secondary);
                font-size: 24px;
                font-weight: 800;
            }
        }
    }

    &:not(.principal):not(.selected):hover { 
        transform: scale(1.05);
        cursor: pointer;
    }

    &.principal {
        --bubbleSize: 240px;

        align-items: center;
        border-color: var(--secondary);
        border: thin solid var(--secondary);
        border-radius: 100%;
        display: grid;
        padding: 20px;
        text-align: center;
        height: var(--bubbleSize);
        width: var(--bubbleSize);

        h2 {
            border-bottom: 0.6px solid white;
            color: var(--secondary);
            font: 800 24px/32px Roboto, "Helvetica Neue", sans-serif;
            padding-bottom: 8px;
            width: 100%;
        }

        .info {
            display: grid;
            margin: 18px 0;
            row-gap: 8px;
        }

        .bubble-content .info .stat {
            color: var(--secondary);
            font-size: 30px;
        }
    }

    &.corner:not(.bubble) {
        border-color: var(--tertiary);
        
        .bubble-content .info .stat{
            color: var(--tertiary);
        }
    }
}