<snoop-page-component>
    <div class="page-container big-padding">
        <h1 class="title">Available newspapers</h1>
        <div class="newspapers-list">
            <mat-list *ngIf="!loading">
                <mat-list-item class="newspaper-item" *ngFor="let newspaper of newspapersList">
                    <div class="newspaper-item">
                        <div class="newspaper-label">{{ newspaper.title }}</div>
                        <div>
                            <a class="newspaper-link" [href]="'newspapers/'+newspaper.id">
                                <mat-icon>trending_up</mat-icon>analysis
                            </a>
                        </div>
                        <div>
                            <a *ngIf="newspaper.url" class="newspaper-link" target="_blank" [href]="newspaper.url">
                                <mat-icon>link</mat-icon>website
                            </a>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
            <ngx-spinner class="spinner" [showSpinner]="loading" [fullScreen]="false" type="ball-beat" style="position: relative; left: 13px;" color="#ffffff" bdColor="none" size="small">
            </ngx-spinner>
        </div>
    </div>
</snoop-page-component>